$cyan: hsl(180, 66%, 49%);
$cyan-opaque: hsl(180, 38%, 63%);
$dark-violet: hsl(257, 27%, 26%);
$red: hsl(0, 87%, 67%);
$gray: hsl(0, 0%, 75%);
$grayish-violet: rgb(158, 154, 167);
$gray-opaque: hsla(0, 0%, 75%, 0.25);
$very-dark-blue: hsl(255, 11%, 22%);
$very-dark-violet: hsl(260, 8%, 14%);

$font-primary: 'Montserrat';
$font-size: 18px;
$mobile-width: 375px;
$desktop-width: 1440px;

$dark-blue: hsl(209, 23%, 22%);
$very-dark-blue-bg: hsl(207, 26%, 17%);
$very-dark-blue-txt: hsl(200, 15%, 8%);
$dark-gray: hsl(0, 0%, 52%);
$very-light-gray: hsl(0, 0%, 98%);
$white: hsl(0, 0%, 100%);
